<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MT3PBTF');</script>
	<!-- End Google Tag Manager -->

	<style>
		@import url("styles/juneau-code.css");
		@import url("styles/juneau-doc.css");
		
		p.download {
			color: #2C4557;
			padding: 5px 20px;
			margin: 10px 0px 10px 0px;
			text-decoration: none;	
			font-size: 0.9em;
			font-weight: bold;
			background: linear-gradient(to bottom, #F5F5F5, #DEE3E9) repeat scroll 0% 0% transparent;
		}
	</style>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT3PBTF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	


	<h5 class='toc'>Current release</h5>
	<p class='download w800'>
		9.0-B1 (July 2, 2022) (BETA) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#9.0-B1'>Release Notes</a>
		- <a href='https://www.apache.org/dyn/closer.cgi/juneau/binaries/juneau-9.0-B1/apache-juneau-9.0-B1-bin.zip'>Binaries</a> 
		(<a href='https://www.apache.org/dist/juneau/binaries/juneau-9.0-B1/apache-juneau-9.0-B1-bin.zip.asc'>ASC</a>,
		 <a href='https://www.apache.org/dist/juneau/binaries/juneau-9.0-B1/apache-juneau-9.0-B1-bin.zip.sha512'>SHA512</a>)
		- <a href='https://www.apache.org/dyn/closer.cgi/juneau/source/juneau-9.0-B1/apache-juneau-9.0-B1-src.zip'>Source</a>
		(<a href='https://www.apache.org/dist/juneau/source/juneau-9.0-B1/apache-juneau-9.0-B1-src.zip.asc'>ASC</a>,
		 <a href='https://www.apache.org/dist/juneau/source/juneau-9.0-B1/apache-juneau-9.0-B1-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		8.2.0 (Oct 14, 2020) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.2.0'>Release Notes</a>
		- <a href='https://www.apache.org/dyn/closer.cgi/juneau/binaries/juneau-8.2.0/apache-juneau-8.2.0-bin.zip'>Binaries</a> 
		(<a href='https://www.apache.org/dist/juneau/binaries/juneau-8.2.0/apache-juneau-8.2.0-bin.zip.asc'>ASC</a>,
		 <a href='https://www.apache.org/dist/juneau/binaries/juneau-8.2.0/apache-juneau-8.2.0-bin.zip.sha512'>SHA512</a>)
		- <a href='https://www.apache.org/dyn/closer.cgi/juneau/source/juneau-8.2.0/apache-juneau-8.2.0-src.zip'>Source</a>
		(<a href='https://www.apache.org/dist/juneau/source/juneau-8.2.0/apache-juneau-8.2.0-src.zip.asc'>ASC</a>,
		 <a href='https://www.apache.org/dist/juneau/source/juneau-8.2.0/apache-juneau-8.2.0-src.zip.sha512'>SHA512</a>)
	</p>
	<ul>
		<li><b>Binaries</b>
		<ul>
			<li><code>juneau-all.jar</code> - <small>Everything (except RDF, JAX/RS, and Microservice)</small>
			<li><code>/lib</code> - <small>Jars</small>
			<ul>
				<li><code>juneau-marshall.jar</code> - <small>Marshalling</small>
				<li><code>juneau-marshall-rdf.jar</code> - <small>Marshalling RDF extension (requires Apache Jena 2.7.1+)</small>
				<li><code>juneau-dto.jar</code> - <small>Data Transfer Objects</small>
				<li><code>juneau-svl.jar</code> - <small>Simple Variable Language</small>
				<li><code>juneau-config.jar</code> - <small>Config File</small>
				<li><code>juneau-rest-server.jar</code> - <small>REST Servlet</small>
				<li><code>juneau-rest-server-jaxrs.jar</code> - <small>REST Servlet JAX/RS extension</small>
				<li><code>juneau-rest-client.jar</code> - <small>REST Client (requires Apache HttpClient 4.5+)</small>
				<li><code>juneau-rest-mock.jar</code> - <small>REST mock testing API</small>
			</ul>
			<li><code>/osgi</code> - <small>OSGi Libraries</small>
			<ul>
				<li><code>org.apache.juneau.marshall.jar</code> - <small>Marshalling</small>
				<li><code>org.apache.juneau.marshall.rdf.jar</code> - <small>Marshalling RDF extension (requires Apache Jena 2.7.1+)</small>
				<li><code>org.apache.juneau.dto.jar</code> - <small>Data Transfer Objects</small>
				<li><code>org.apache.juneau.svl.jar</code> - <small>Simple Variable Language</small>
				<li><code>org.apache.juneau.config.jar</code> - <small>Config File</small>
				<li><code>org.apache.juneau.rest.server.jar</code> - <small>REST Servlet</small>
				<li><code>org.apache.juneau.rest.server.jaxrs.jar</code> - <small>REST Servlet JAX/RS extension</small>
				<li><code>org.apache.juneau.rest.server.springboot</code> - <small>REST Spring Boot integration</small>
				<li><code>org.apache.juneau.rest.client.jar</code> - <small>REST Client (requires Apache HttpClient 4.5+)</small>
				<li><code>org.apache.juneau.rest.mock.jar</code> - <small>REST mock testing API</small>
			</ul>
			<li><code>/projects</code> - <small>Eclipse Projects</small>
			<ul>
				<li><code>my-springboot-microservice.zip</code> - <small>Microservice starter project using Spring Boot</small>
				<li><code>juneau-examples-core.zip</code> - <small>Core libraries examples</small>
				<li><code>juneau-examples-rest-jetty.zip</code> - <small>REST libraries examples using Jetty</small>
				<li><code>juneau-examples-rest-springboot.zip</code> - <small>REST libraries examples using Spring Boot</small>
			</ul>
		</ul>
		<li><b>Maven</b>
		<p class='bcode w800'>
	<xc>&lt;!--  Use the following dependency... --&gt;</xc>
	<xt>&lt;dependency&gt;</xt>
		<xt>&lt;groupId&gt;</xt>org.apache.juneau<xt>&lt;/groupId&gt;</xt>
		<xt>&lt;artifactId&gt;</xt>juneau-XXX<xt>&lt;/artifactId&gt;</xt>
		<xt>&lt;version&gt;</xt>{@property juneauVersion}<xt>&lt;/version&gt;</xt>
	<xt>&lt;/dependency&gt;</xt>

	<xc>&lt;!--  ...where the artifactId is typically... --&gt;</xc>
	<xt>&lt;artifactId&gt;</xt>juneau-all<xt>&lt;/artifactId&gt;</xt>

	<xc>&lt;!--  ...but can also be any of the following... --&gt;</xc>
	<xt>&lt;artifactId&gt;</xt>juneau-marshall<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-marshall-rdf<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-dto<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-svl<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-config<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-rest-server<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-rest-server-jaxrs<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-rest-client<xt>&lt;/artifactId&gt;</xt>
	<xt>&lt;artifactId&gt;</xt>juneau-microservice-server<xt>&lt;/artifactId&gt;</xt>
		</p>
	</ul>
	
	<h5 class='toc'>Verifying file integrity</h5>
	<p>
		How to <a class='doclink' href='https://www.apache.org/info/verification.html'>verify downloaded files</a>.
	</p>
	<p>
		<a class='doclink' href='https://www.apache.org/dist/juneau/KEYS'>Download KEYS </a>file.
	</p>
	<h5 class='toc'>Older releases</h5>
	<p class='download w800'>
		8.1.3 (Jan 20, 2020) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.3'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.3/apache-juneau-8.1.3-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.3/apache-juneau-8.1.3-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.3/apache-juneau-8.1.3-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.3/apache-juneau-8.1.3-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.3/apache-juneau-8.1.3-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.3/apache-juneau-8.1.3-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		8.1.2 (Dec 01, 2019) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.2'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.2/apache-juneau-8.1.2-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.2/apache-juneau-8.1.2-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.2/apache-juneau-8.1.2-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.2/apache-juneau-8.1.2-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.2/apache-juneau-8.1.2-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.2/apache-juneau-8.1.2-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		8.1.1 (Sept 20, 2019) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.1'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.1/apache-juneau-8.1.1-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.1/apache-juneau-8.1.1-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.1/apache-juneau-8.1.1-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.1/apache-juneau-8.1.1-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.1/apache-juneau-8.1.1-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.1/apache-juneau-8.1.1-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		8.1.0 (Aug 21, 2019) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.0'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.0/apache-juneau-8.1.0-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.0/apache-juneau-8.1.0-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.1.0/apache-juneau-8.1.0-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.0/apache-juneau-8.1.0-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.0/apache-juneau-8.1.0-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-8.1.0/apache-juneau-8.1.0-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		8.0.0 (Jan 01, 2019) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.0.0'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.0.0/apache-juneau-8.0.0-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.0.0/apache-juneau-8.0.0-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-8.0.0/apache-juneau-8.0.0-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-8.0.0/apache-juneau-8.0.0-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-8.0.0/apache-juneau-8.0.0-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-8.0.0/apache-juneau-8.0.0-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		7.2.2 (Nov 13, 2018) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.2.2'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.2/apache-juneau-7.2.2-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.2/apache-juneau-7.2.2-bin.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.2/apache-juneau-7.2.2-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.2/apache-juneau-7.2.2-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.2/apache-juneau-7.2.2-src.zip.asc'>ASC</a>,
		 <a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.2/apache-juneau-7.2.2-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		7.2.1 (Oct 30, 2018) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.2.1'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.1/apache-juneau-7.2.1-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.1/apache-juneau-7.2.1-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.1/apache-juneau-7.2.1-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.1/apache-juneau-7.2.1-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.1/apache-juneau-7.2.1-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.1/apache-juneau-7.2.1-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		7.2.0 (Sept 20, 2018) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.2.0'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.0/apache-juneau-7.2.0-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.0/apache-juneau-7.2.0-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.2.0/apache-juneau-7.2.0-bin.zip.sha512'>SHA512</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.0/apache-juneau-7.2.0-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.0/apache-juneau-7.2.0-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.2.0/apache-juneau-7.2.0-src.zip.sha512'>SHA512</a>)
	</p>
	<p class='download w800'>
		7.1.0 (Mar 08, 2018) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.1.0'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.1.0/apache-juneau-7.1.0-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.1.0/apache-juneau-7.1.0-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.1.0/apache-juneau-7.1.0-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.1.0/apache-juneau-7.1.0-bin.zip.sha1'>SHA1</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.1.0/apache-juneau-7.1.0-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.1.0/apache-juneau-7.1.0-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.1.0/apache-juneau-7.1.0-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.1.0/apache-juneau-7.1.0-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		7.0.1 (Dec 24, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.0.1'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.1/apache-juneau-7.0.1-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.1/apache-juneau-7.0.1-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.1/apache-juneau-7.0.1-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.1/apache-juneau-7.0.1-bin.zip.sha1'>SHA1</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.1/apache-juneau-7.0.1-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.1/apache-juneau-7.0.1-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.1/apache-juneau-7.0.1-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.1/apache-juneau-7.0.1-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		7.0.0 (Oct 25, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.0.0'>Release Notes</a>
		- <a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.0/apache-juneau-7.0.0-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.0/apache-juneau-7.0.0-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.0/apache-juneau-7.0.0-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/binaries/juneau-7.0.0/apache-juneau-7.0.0-bin.zip.sha1'>SHA1</a>)
		- <a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.0/apache-juneau-7.0.0-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.0/apache-juneau-7.0.0-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.0/apache-juneau-7.0.0-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/juneau/source/juneau-7.0.0/apache-juneau-7.0.0-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.4.0 (Oct 04, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.4.0'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.4.0-incubating/apache-juneau-6.4.0-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.3.1 (Aug 02, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.3.1'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.1-incubating/apache-juneau-6.3.1-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.3.0 (Jun 28, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.3.0'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.3.0-incubating/apache-juneau-6.3.0-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.2.0 (Apr 28, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.2.0'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.2.0-incubating/apache-juneau-6.2.0-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.1.0 (Feb 25, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.1.0'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.1.0-incubating/apache-juneau-6.1.0-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.0.1 (Jan 03, 2017) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.0.1'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-src.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-src.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-src.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.1-incubating/apache-juneau-6.0.1-incubating-src.zip.sha1'>SHA1</a>)
	</p>
	<p class='download w800'>
		6.0.0 (Oct 25, 2016) 
		- <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#6.0.0'>Release Notes</a>
		- <a href='http://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-bin.zip'>Binaries</a> 
		(<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-bin.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-bin.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/binaries/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-bin.zip.sha1'>SHA1</a>)
		- <a href='http://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-source.zip'>Source</a>
		(<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-source.zip.asc'>ASC</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-source.zip.md5'>MD5</a>,
		<a href='https://archive.apache.org/dist/incubator/juneau/source/juneau-6.0.0-incubating/apache-juneau-6.0.0-incubating-source.zip.sha1'>SHA1</a>)
	</p>
</body>
</html>
