<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MT3PBTF');</script>
	<!-- End Google Tag Manager -->

	<style>
		@import url("styles/juneau-code.css");
		@import url("styles/juneau-doc.css");
	</style>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT3PBTF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	
	
	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-EXAMPLES-CORE ============================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-examples-core'>juneau-examples-core</h5>
	<div>
		<h5 class='figure'>Archive File</h5>
		<p class='bcode w500'>
	juneau-examples-core-{@property juneauVersion}.zip 
		</p>	
	
		<p>
			The <code>juneau-examples-core</code> project contains various code examples for using the core APIs. 
		</p>
	
		<img class='bordered' src='images/juneau-examples-core.Installing.3.png' style='width:400px'>
	
		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-examples-core'>juneau-examples-core</a>
		</ul>
	</div>	
	
	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-EXAMPLES-REST ============================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-examples-rest'>juneau-examples-rest</h5>
	<div>
		<h5 class='figure'>Archive File</h5>
		<p class='bcode w500'>
	juneau-examples-rest-{@property juneauVersion}.zip 
		</p>	
	
		<p>
			The <code>juneau-examples-rest</code> project includes various examples of REST resources written
			using Juneau.
		</p>
		<p>
			When running, it produces the following REST interface:
		</p>
		
		<p class='bcode w800'>
	http://localhost:10000
		</p>			
		<img class='bordered w800' src='images/juneau-examples-rest.RootResources.1.png'>
	
		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-examples-rest'>juneau-examples-rest</a>
		</ul>
	</div>	

	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-EXAMPLES-REST-JETTY ======================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-examples-rest-jetty'>juneau-examples-rest-jetty</h5>
	<div>
		<h5 class='figure'>Archive File</h5>
		<p class='bcode w500'>
	juneau-examples-rest-jetty-{@property juneauVersion}.zip 
		</p>	
	
		<p>
			The <code>juneau-examples-rest-jetty</code> project includes everything you need create a Samples REST 
			microservice in an Eclipse workspace and build it as an executable jar.
		</p>
	
		<img class='bordered' src='images/juneau-examples-rest-jetty.Installing.3.png' style='width:400px'>

		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-examples-rest-jetty'>juneau-examples-rest-jetty</a>
		</ul>
	</div>	

	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-EXAMPLES-REST-SPRINGBOOT =================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-examples-rest'>juneau-examples-rest-springboot</h5>
	<div>
		<h5 class='figure'>Archive File</h5>
		<p class='bcode w500'>
	juneau-examples-rest-springboot{@property juneauVersion}.zip 
		</p>	
	
		<p>
			The <code>juneau-examples-rest-springboot</code> library contains the same examples as <code>juneau-examples-rest</code>
			but also includes the following:
		</p>
		<ul class='spaced-list'>
			<li>
				A starter class for invoking the examples using Spring Boot.
			<li>
				A resource resolver for resolving REST resources as injectable beans.
			<li>
				A POM that extends from <code>spring-boot-starter-parent</code> that allows you to build a fully-shaded executable jar.
			<li>
				Configuration files for deploying the microservice to Heroku.
		</ul>
	
		<img class='bordered' src='images/juneau-examples-rest-springboot.Installing.3.png' style='width:400px'>

		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-examples-rest-springboot'>juneau-examples-rest-springboot</a>
		</ul>
	</div>	

</body>
</html>