<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MT3PBTF');</script>
	<!-- End Google Tag Manager -->

	<style>
		@import url("styles/juneau-code.css");
		@import url("styles/juneau-doc.css");
	</style>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT3PBTF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	

	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-REST-SERVER ================================================================================ -->
	<!-- ======================================================================================================= -->
	
	<h5 class='toc' id='juneau-rest-server'>juneau-rest-server</h5>
	<div class='topic'>
		<h5 class='figure'>Maven Dependency</h5>
		<p class='bcode w500'>
	<xt>&lt;dependency&gt;</xt>
		<xt>&lt;groupId&gt;</xt>org.apache.juneau<xt>&lt;/groupId&gt;</xt>
		<xt>&lt;artifactId&gt;</xt>juneau-rest-server<xt>&lt;/artifactId&gt;</xt>
		<xt>&lt;version&gt;</xt>{@property juneauVersion}<xt>&lt;/version&gt;</xt>
	<xt>&lt;/dependency&gt;</xt>
		</p>	
	
		<h5 class='figure'>Java Library</h5>
		<p class='bcode w500'>
	juneau-rest-server-{@property juneauVersion}.jar 
		</p>	
	
		<h5 class='figure'>OSGi Module</h5>
		<p class='bcode w500'>
	org.apache.juneau.rest.server_{@property juneauVersion}.jar 
		</p>	

		<p>
			The REST server API builds upon the <code>SerializerGroup</code> and <code>ParserGroup</code> classes 
			to provide annotated REST servlets that automatically negotiate the HTTP media types for you.
			Developers simply work with requests, responses, headers, path variables, query parameters, and form data as POJOs.
			It allows you to create sophisticated REST interfaces using tiny amounts of code.
		</p>
		<p>
			The end goal is to provide simple and flexible yet sophisticated REST interfaces that allow POJOs to be automatically represented as 
			different content types depending on whatever the particular need: 
		</p>
		<ul class='spaced-list'>
			<li>HTML for viewing POJOs in easy-to-read format in a browser.
			<li>JSON for interacting through Javascript.
			<li>XML for interacting with other applications.
			<li>RDF for interacting with triple stores.
			<li>URL-Encoding for interacting through HTML forms.
			<li>MessagePack for efficiently transmitting large amounts of data.
		</ul>
		<p>
			A simple example that supports all languages:
		</p>
		<p class='bcode w800'>
	<ja>@Rest</ja>(
		path=<js>"/systemProperties"</js>,
		title=<js>"System properties resource"</js>
	)
	<jk>public class</jk> SystemPropertiesResource <jk>extends</jk> BasicRestServlet {
	
		<ja>@RestMethod</ja>(name=<jsf>GET</jsf>, path=<js>"/"</js>)
		<jk>public</jk> Map getSystemProperties(<ja>@Query</ja>(<js>"sort"</js>) <jk>boolean</jk> sort) <jk>throws</jk> Throwable {
			<jk>if</jk> (sort)
				<jk>return new</jk> TreeMap(System.<jsm>getProperties</jsm>());
			<jk>return</jk> System.<jsm>getProperties</jsm>();
		}
	
		<ja>@RestMethod</ja>(name=<jsf>GET</jsf>, path=<js>"/{propertyName}"</js>)
		<jk>public</jk> String getSystemProperty(<ja>@Path</ja>(<js>"propertyName"</js>) String propertyName) <jk>throws</jk> Throwable {
			<jk>return</jk> System.<jsm>getProperty</jsm>(propertyName);
		}
	
		<ja>@RestMethod</ja>(name=<jsf>PUT</jsf>, path=<js>"/{propertyName}"</js>, guards=AdminGuard.<jk>class</jk>)
		<jk>public</jk> String setSystemProperty(<ja>@Path</ja>(<js>"propertyName"</js>) String propertyName, <ja>@Body</ja> String value) {
			System.<jsm>setProperty</jsm>(propertyName, value);
			<jk>return</jk> <js>"OK"</js>;
		}
	
		<ja>@RestMethod</ja>(name=<jsf>POST</jsf>, path=<js>"/"</js>, guards=AdminGuard.<jk>class</jk>)
		<jk>public</jk> String setSystemProperties(<ja>@Body</ja> java.util.Properties newProperties) {
			System.<jsm>setProperties</jsm>(newProperties);
			<jk>return</jk> <js>"OK"</js>;
		}
	
		<ja>@RestMethod</ja>(name=<jsf>DELETE</jsf>, path=<js>"/{propertyName}"</js>, guards=AdminGuard.<jk>class</jk>)
		<jk>public</jk> String deleteSystemProperty(<ja>@Path</ja>(<js>"propertyName"</js>) String propertyName) {
			System.<jsm>clearProperty</jsm>(propertyName);
			<jk>return</jk> <js>"OK"</js>;
		}
	}
		</p>
		<br><br><hr>
		<p>
			The REST API is built on top of Servlets, making them easy to deploy in any JEE environment.  
		</p>
		<p>
			REST Java methods can return any of the following objects:  
			<br>POJOs, <ja>@Response</ja> annotated objects, <code>Readers</code>, <code>InputStreams</code>, <code>ZipFiles</code>, <code>Redirects</code>, <code>Streamables</code>, and <code>Writables</code>.
		</p>
		<p>
			Or add your own handlers for other types.  
		</p>
		<p>
			REST Java methods can be passed any of the following objects in any order:
		</p>
		<ul class='spaced-list'>
			<li>Low-level request/response objects:
				<br><code>HttpServletRequest</code>, <code>HttpServletResponse</code>, <code>RestRequest</code>, <code>RestResponse</code>.
			<li>Intermediate-level objects:  
				<br><code>RequestHeaders</code>, <code>RequestQuery</code>, <code>RequestFormData</code>, <code>RequestPathMatch</code>, <code>RequestBody</code>.
			<li>All RFC 2616 request header objects:  
				<br><code>Accept</code>, <code>AcceptLanguage</code>, <code>AcceptEncoding</code>...
			<li>Annotated parameters:  
				<br><ja>@Header</ja>, <ja>@Query</ja>, <ja>@FormData</ja>, <ja>@Path</ja>, <ja>@PathRemainder</ja>, <ja>@Body</ja>.  
			<li>Other objects:  
				<br><code>Locale</code>, <code>ResourceBundle</code>, <code>MessageBundle</code>, <code>InputStream</code>, <code>OutputStream</code>, <code>Reader</code>, <code>Writer</code>...
			<li>User-defined parameter types.
		</ul>
		<p>
			Automatic error handling is provided for a variety of conditions: 
		</p>
		<ul>
			<li>Automatic 401 errors (Unauthorized) on failed guards.
			<li>Automatic 404 errors (Not Found) on unmatched path patterns.
			<li>Automatic 405 errors (Method Not Implemented) on unimplemented methods.
			<li>Automatic 406 errors (Not Acceptable) when no matching serializer was found to handle the <l>Accept</l> header.
			<li>Automatic 412 errors (Precondition Failed) when all matchers failed to match.
			<li>Automatic 415 errors (Unsupported Media Type) when no matching parser was found was found to handle the <l>Content-Type</l> header.
			<li>Automatic 500 errors on uncaught exceptions.
			<li>Throw your own runtime RestException with HTTP status and response object. 
		</ul>
		<p>
			Other features include: 
		</p> 
		<ul class='spaced-list'>
			<li>Extremely simple debuggability using nothing more than your browser.
			<li>Simplified localization support.
			<li>Configurability through external INI files.
			<li>Client-versioned responses (and other customizable heuristic matching APIs).
			<li>Automatic statistics gathering.
			<li>Define and use your own HTML stylesheets.
			<li>Lots of up-to-date documentation and examples.
			<li>MUCH MORE!....
		</ul>
		<br><hr>
		<p>	
			Navigable hierarchies of REST resources are easy to set up either programmatically or through annotations.
		</p>
		<p>
			The following example is the <code>RootResources</code> class from the REST examples showing how to construct
			a grouping of resources using the <code>children()</code> annotation:
		</p>
		<p class='bcode w800'>
	<ja>@Rest</ja>(
		path=<js>"/"</js>,
		title=<js>"Root resources"</js>,
		description=<js>"Example of a router resource page."</js>,
		children={
			HelloWorldResource.<jk>class</jk>,
			PetStoreResource.<jk>class</jk>,
			DtoExamples.<jk>class</jk>,
			ConfigResource.<jk>class</jk>,
			LogsResource.<jk>class</jk>,
			ShutdownResource.<jk>class</jk>
		}
	)
	<ja>@HtmlDocConfig</ja>(
		links={
			<js>"options: ?method=OPTIONS"</js>,
			<js>"$W{ContentTypeMenuItem}"</js>,
			<js>"source: $C{Source/gitHub}/org/apache/juneau/examples/rest/RootResources.java"</js>
		},
		aside={
			<js>"&lt;div style='max-width:400px' class='text'&gt;"</js>,
			<js>"	&lt;p&gt;This is an example of a 'router' page that serves as a jumping-off point to child resources.&lt;/p&gt;"</js>,
			<js>"	&lt;p&gt;Resources can be nested arbitrarily deep through router pages.&lt;/p&gt;"</js>,
			<js>"	&lt;p&gt;Note the options link provided that lets you see the generated swagger doc for this page.&lt;/p&gt;"</js>,
			<js>"	&lt;p&gt;Also note the source link on these pages to view the source code for the page.&lt;/p&gt;"</js>,
			<js>"	&lt;p&gt;All content on pages in the UI are serialized POJOs.  In this case, it's a serialized array of beans with 2 properties, 'name' and 'description'.&lt;/p&gt;"</js>,
			<js>"	&lt;p&gt;Other features (such as this aside) are added through annotations.&lt;/p&gt;"</js>,
			<js>"&lt;/div&gt;"</js>
		},
		footer=<js>"$W{PoweredByApache}"</js>,
		widgets={
			PoweredByApache.<jk>class</jk>,
			ContentTypeMenuItem.<jk>class</jk>
		}
	)
	<jk>public class</jk> RootResources <jk>extends</jk> BasicRestServletGroup { <jc>/* No code needed! */</jc> }
		</p>
		<p>
			The above resource when rendered in HTML shows how easy it is to discover and navigate to child resources using a browser:
		</p>
		<p class='bcode w800'>
	http://localhost:10000
		</p>
		<img class='bordered w800' src='images/juneau-examples-rest.RootResources.1.png'>
		<p>
			Resources can be nested arbitrarily deep.  
			The <ja>@Rest</ja> and <ja>@RestMethod</ja> annotations can be applied to any classes, not just
			servlets.  The only requirement is that the top-level resource be a subclass of <code>RestServlet</code> as a hook into
			the servlet container.
		</p>
		
		<p>
			The <code>juneau-examples-rest</code> project includes various other examples that highlight some of the 
			capabilities of the REST servlet API.
			<br>
			For example, the <code>PetStoreResource</code> class shows some advanced features such as using POJO renders
			and converters, and HTML widgets.
		</p>
		<p class='bcode w800'>
	http://localhost:10000/petstore
		</p>			
		<img class='bordered w800' src='images/juneau-examples-rest.PetStoreResource.1.png'>
		<p>
			The beans being serialized are shown here:
		</p>
		<p class='bcode w800'>
	<jc>// Our bean class.</jc>
	<jk>public class</jk> Pet {

		<ja>@Html</ja>(link=<js>"servlet:/{id}"</js>)  <jc>// Creates a hyperlink in HTML view.</jc>
		<ja>@NameProperty</ja>                <jc>// Links the parent key to this bean.</jc>
		<jk>public int</jk> <jf>id</jf>;

		<jk>public</jk> String <jf>name</jf>;
		<jk>public</jk> Kind <jf>kind</jf>;

		<ja>@BeanProperty</ja>(format=<js>"$%.2f"</js>)  <jc>// Renders price in dollars.</jc>
		<jk>public float</jk> <jf>price</jf>;

		<ja>@BeanProperty</ja>(swap=DateSwap.<jsf>RFC2822D</jsf>.<jk>class</jk>)  <jc>// Renders dates in RFC2822 format.</jc>
		<jk>public</jk> Date <jf>birthDate</jf>;

		<jk>public int</jk> getAge() {
			Calendar c = <jk>new</jk> GregorianCalendar();
			c.setTime(<jf>birthDate</jf>);
			<jk>return new</jk> GregorianCalendar().get(Calendar.<jsf>YEAR</jsf>) - c.get(Calendar.<jsf>YEAR</jsf>);
		}
	}

	<ja>@Html</ja>(render=KindRender.<jk>class</jk>)  <jc>// Render as an icon in HTML.</jc>
	<jk>public static enum</jk> Kind {
		<jsf>CAT</jsf>, <jsf>DOG</jsf>, <jsf>BIRD</jsf>, <jsf>FISH</jsf>, <jsf>MOUSE</jsf>, <jsf>RABBIT</jsf>, <jsf>SNAKE</jsf>
	}

	<jk>public static class</jk> KindRender <jk>extends</jk> HtmlRender&lt;Kind&gt; {
		<ja>@Override</ja>
		<jk>public</jk> Object getContent(SerializerSession session, Kind value) {
			<jk>return new</jk> Img().src(<js>"servlet:/htdocs/"</js>+value.toString().toLowerCase()+<js>".png"</js>);
		}
		<ja>@Override</ja>
		<jk>public</jk> String getStyle(SerializerSession session, Kind value) {
			<jk>return</jk> <js>"background-color:#FDF2E9"</js>;
		}
	}
		</p>
	
		<p>
			The <code>QUERY</code> menu item shows the capabilities of Converters which are post-processors that
			work to filter POJOs after they've been returned by your Java method.
			<br>
			In this case, we're using the <code>Queryable</code> converter that allows us to perform search/view/sort/paging
			against collections of beans:
		</p>
		<img class='bordered w800' src='images/juneau-examples-rest.PetStoreResource.2.png'>
	
		<p>
			The drop-down menu items are implemented through "widgets" which allow you to embed arbitrary HTML, Javascript, 
			and CSS in the HTML view of the page.
		</p>
		<p class='bcode w800'>
	<ja>@RestMethod</ja>(
		name=<jsf>GET</jsf>,
		path=<js>"/"</js>,
		summary=<js>"The complete list of pets in the store"</js>,

		<jc>// Add our converter for POJO query support.</jc>
		converters=Queryable.<jk>class</jk>
	)
	<ja>@HtmlDocConfig</ja>(
		
		<jc>// Add our menu items in the nav links.</jc>
		links={
			<js>"up: request:/.."</js>,
			<js>"options: servlet:/?method=OPTIONS"</js>,
			<js>"$W{QueryMenuItem}"</js>,
			<js>"$W{ContentTypeMenuItem}"</js>,
			<js>"$W{StyleMenuItem}"</js>,
			<js>"source: $C{Source/gitHub}/org/apache/juneau/examples/rest/PetStoreResource.java"</js>
		},
		
		<jc>// Add 'query' and 'content-types' menu items.</jc>
		widgets={
			QueryMenuItem.<jk>class</jk>,
			ContentTypeMenuItem.<jk>class</jk>,
			StyleMenuItem.<jk>class</jk>
		}
	)
	<jk>public</jk> Collection&lt;Pet&gt; getPets() {
		</p>
		
		<p>
			HTML views are highly customizable with abilities such as defining your own look-and-feel and even allowing
			you to define your own templates.
		</p>
		<p>
			For example, the PetStore page above rendered in one of the other predefined stylesheets:
		</p>	
		<h5 class='figure'>Light look-and-feel</h5>
		<img class='bordered w800' src='images/juneau-examples-rest.PetStoreResource.3.png'>
		<h5 class='figure'>Dark look-and-feel</h5>
		<img class='bordered w800' src='images/juneau-examples-rest.PetStoreResource.4.png'>		
		
		<p>
			Swagger UI is auto-generated and self-hosted through OPTIONS requests: 
		</p>
		<p class='bcode w900'>
	http://localhost:10000/petstore?method=OPTIONS
		</p>
		<img class='bordered w900' src='images/juneau-examples-rest.PetStoreResource.9a.png'>
		<br>		
		<img class='bordered w900' src='images/juneau-examples-rest.PetStoreResource.9h.png'>
		<br>		
		<img class='bordered w900' src='images/juneau-examples-rest.PetStoreResource.9f.png'>		

		<p>
			Swagger contains auto-generated code examples for all supported languages:
		</p>
		<img class='bordered w900' src='images/juneau-examples-rest.PetStoreResource.9d.png'>
		<br>		
		<img class='bordered w900' src='images/juneau-examples-rest.PetStoreResource.9e.png'>		
		
		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-rest-server'>juneau-rest-server</a>
		</ul>
		
	</div>

	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-REST-SERVER-SPRINGBOOT ===================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-rest-server-springboot'>juneau-rest-server-springboot</h5>
	<div class='topic'>
		<h5 class='figure'>Maven Dependency</h5>
		<p class='bcode w500'>
	<xt>&lt;dependency&gt;</xt>
		<xt>&lt;groupId&gt;</xt>org.apache.juneau<xt>&lt;/groupId&gt;</xt>
		<xt>&lt;artifactId&gt;</xt>juneau-rest-server-springboot<xt>&lt;/artifactId&gt;</xt>
		<xt>&lt;version&gt;</xt>{@property juneauVersion}<xt>&lt;/version&gt;</xt>
	<xt>&lt;/dependency&gt;</xt>
		</p>	
	
		<h5 class='figure'>Java Library</h5>
		<p class='bcode w500'>
	juneau-rest-server-springboot-{@property juneauVersion}.jar 
		</p>	
		
		<h5 class='figure'>OSGi Module</h5>
		<p class='bcode w500'>
	org.apache.juneau.rest.server.springboot_{@property juneauVersion}.jar 
		</p>	
		
		<p>
			The <code>juneau-rest-server-springboot</code> library provides classes to make it easy to integrate
			Juneau REST resources with Spring and Spring Boot.
		</p>
		
		<h5 class='figure'>Example:</h5>
		<p class='bcode w800'>
	<ja>@SpringBootApplication</ja>
	<ja>@Controller</ja>
	<jk>public class</jk> App {
	
		<jk>public static void</jk> main(String[] args) {
			<jk>new</jk> SpringApplicationBuilder(App.<jk>class</jk>)
				.initializers(<jk>new</jk> JuneauRestInitializer(App.<jk>class</jk>))
				.run(args);
		}
	
		<jd>/** Our root resource */</jd>
		<ja>@Bean @JuneauRestRoot</ja>
		<jk>public</jk> RootResource getRootResource() {
			<jk>return new</jk> RootResource();  <jc>// A subclass of RestServlet.</jc>
		}
	}
		</p>
		<p>
			The initializer will search for Spring beans annotated with the <ja>@JuneauRestRoot</ja> annotation identifying it
			as a top-level servlet to be deployed in the Spring Boot web container.
		</p>
		
		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-rest-server-springboot'>juneau-rest-server-springboot</a>
		</ul>
	</div>

	<!-- ======================================================================================================= -->
	<!-- === JUNEAU-REST-SERVER-JAXRS ========================================================================== -->
	<!-- ======================================================================================================= -->

	<h5 class='toc' id='juneau-rest-server-jaxrs'>juneau-rest-server-jaxrs</h5>
	<div class='topic'>
		<h5 class='figure'>Maven Dependency</h5>
		<p class='bcode w500'>
	<xt>&lt;dependency&gt;</xt>
		<xt>&lt;groupId&gt;</xt>org.apache.juneau<xt>&lt;/groupId&gt;</xt>
		<xt>&lt;artifactId&gt;</xt>juneau-rest-server-jaxrs<xt>&lt;/artifactId&gt;</xt>
		<xt>&lt;version&gt;</xt>{@property juneauVersion}<xt>&lt;/version&gt;</xt>
	<xt>&lt;/dependency&gt;</xt>
		</p>	
	
		<h5 class='figure'>Java Library</h5>
		<p class='bcode w500'>
	juneau-rest-server-jaxrs-{@property juneauVersion}.jar 
		</p>	
		
		<h5 class='figure'>OSGi Module</h5>
		<p class='bcode w500'>
	org.apache.juneau.rest.server.jaxrs_{@property juneauVersion}.jar 
		</p>	
		
		<p>
			The <code>juneau-rest-server-jaxrs</code> module defines predefined <code>MessageBodyReader</code> and 
			<code>MessageBodyWriter</code> implementations for using Juneau serializers and parsers in JAX-RS environments.
		</p>	

		<h5 class='section'>More Information:</h5>
		<ul class='doctree'>
			<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#juneau-rest-server-jaxrs'>juneau-rest-server-jaxrs</a>
		</ul>
	</div>
</body>
</html>