<!DOCTYPE html>
<html lang="en">
<head>
	<!-- test -->
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MT3PBTF');</script>
	<!-- End Google Tag Manager -->

	<style>
		@import url("styles/juneau-code.css");
		@import url("styles/juneau-doc.css");
	</style>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT3PBTF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	
	
	<!-- =========================================================================================================== -->
	<!-- === What's New ============================================================================================ -->
	<!-- =========================================================================================================== -->
	
	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.3'>Juneau 8.1.3</a></h5>
	<div>
		<ul class='spaced-list'>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.3/overview-summary.html#juneau-marshall.DynamicallyAppliedAnnotations'>Dynamically applied annotations</a>.  
				All annotations such as <ja>@Bean</ja> and <ja>@Beanp</ja> can now be applied to classes and methods
				without direct access to source code.
			<li>
				Configurable properties can now set default values via system properties and environment variables.
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.3/overview-summary.html#juneau-rest-server.ExecutionStatistics'>REST method execution statistics</a>.
		</ul>
	</div>		

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.2'>Juneau 8.1.2</a></h5>
	<div>
		<ul class='spaced-list'>
			<li>
				Support for read-only and write-only bean properties.
			<li>
				Simplified annotation class names.
			<li>
				Improvements to extensibility of <code>RestClient</code> class.
		</ul>
	</div>		

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.1'>Juneau 8.1.1</a></h5>
	<div>
		<ul class='spaced-list'>
			<li>
				New <a href='https://github.com/apache/juneau-petstore'>Pet Store Application</a> in GitHub.
			<li>
				Full serializing/parsing support for <code>Optional</code> objects.
			<li>
				Cleaned up library dependencies:
				<ul>
					<li>
						<code>juneau-rest-client</code> no longer depends on <code>juneau-rest-server</code>
					<li>
						Annotations for common client/server REST interfaces are now in <code>juneau-marshall</code> and no longer depend on <code>juneau.rest.client</code>/<code>juneau.rest.server</code>.
				</ul>
			<li>
				Improved support for Spring Boot.
			<li>
				Improved support for serving up static files.
		</ul>
	</div>		

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.1.0'>Juneau 8.1.0</a></h5>
	<div>
		<p>
			8.1.0 is a major release with the following new features.
		</p>
		<ul class='spaced-list'>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-marshall.ConfigurableAnnotations'>Configurable Annotations</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-marshall.Transforms.DefaultPojoSwaps'>Default PojoSwaps</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-config.Imports'>Config Imports</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-server.Instantiation.BasicRest'>BasicRest</a>, <a href='#juneau-rest-server.Instantiation.BasicRestGroup'>BasicRestGroup</a> classes
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-server.RestResource.RestResourcePath'>Path variables on resource paths</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-server.RestMethod.RequestAttributes'>Request Attributes API</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-server.RoleGuards'>Role Guards</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-server.LoggingAndDebugging'>Improved REST logging/debugging</a>
			<li>
				<a href='http://juneau.apache.org/site/apidocs-8.1.0/overview-summary.html#juneau-rest-mock'>New MockRest API</a>
		</ul>
	</div>		

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#8.0.0'>Juneau 8.0.0</a></h5>
	<div>
		<p>
			8.0.0 is a major release with significant new functionality in the microservice APIs.
		</p>
		<ul class='spaced-list'>
			<li>
				All deprecated APIs have been cleaned up.
			<li>
				The Microservice API has been revamped to use a builder-based approach to creating microservices.
				<br>The new API is considerably more flexible in design and allows for the configuration and external
				files to be located in either the home directory or inside the jar classpath.				
			<li>
				New Spring Boot integration support classes.
				<br>REST resource classes can now easily be deployed as Spring Beans in a Spring Boot environment.
			<li>
				New template starter projects for creating either Jetty or Spring-Boot based microservices.
			<li>
				New instructions on how to quickly deploy Juneau-based applications to Heroku.
		</ul>
	</div>		

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.2.1'>Juneau 7.2.1</a></h5>
	<div>
		<ul class='spaced-list'>
			<li>
				Fixed binary backwards compatibility issues with 7.1.0.
			<li>
				Method-level annotations (e.g. <ja>@RestMethod</ja>) and parameter-level annotations (e.g. <ja>@Query</ja>) are now inheritable
				from parent classes and interfaces. 
				<br>This allows you to define <a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.1/overview-summary.html#juneau-rest-client.RestProxies.DualPurposeInterfaces'>Dual-Purpose Java Interfaces</a>.
		</ul>
		<p>
			Refer to the <a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.1/overview-summary.html#7.2.1'>Release Notes</a> for the full list of changes.
		</p>
	</div>

	<h5 class='toc'>What's New in <a href='http://juneau.apache.org/site/apidocs-{@property juneauVersion}/overview-summary.html#7.2.0'>Juneau 7.2.0</a></h5>
	<div>
		<ul class='spaced-list'>
			<li>OpenAPI part serializing and parsing with full support for OpenAPI validation of input and output in the REST servlet and client APIs.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-marshall.OpenApiDetails'>juneau-marshall &gt; OpenAPI Details</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.OpenApiSchemaPartParsing'>juneau-rest-server &gt; OpenAPI Schema Part Parsing</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.OpenApiSchemaPartSerializing'>juneau-rest-server &gt; OpenAPI Schema Part Serializing</a>
			</ul>
			<li>Auto-generated Swagger UI.
			<ul>	
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-dto.SwaggerUI'>juneau-dto &gt; Swagger UI</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.Swagger'>juneau-rest-server &gt; Swagger</a>
			</ul>
			<li>New HTTP-Part annotations that are applicable to both the servlet and client APIs.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.HttpPartAnnotations'>juneau-rest-server &gt; HTTP-Part Annotations</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-client.RestProxies'>juneau-rest-client &gt; REST Proxies</a>
			</ul>
			<li>Simplified UI customization.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-microservice-server.UiCustomization'>juneau-microservice-server &gt; UI Customization</a>
			</ul>
			<li>New Marshall API that combines serializers and parsers into single classes.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-marshall.Marshalls'>juneau-marshall &gt; Marshalls</a>
			</ul>
			<li>Serverless servlet and client unit testing.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.UnitTesting'>juneau-rest-server &gt; Serverless Unit Testing</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-client.UnitTesting'>juneau-rest-client &gt; Serverless Unit Testing</a>
			</ul>
			<li>Predefined REST responses and exceptions.
			<ul>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.RestMethod.PredefinedResponses'>juneau-rest-server &gt; Predefined Responses</a>
				<li><a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#juneau-rest-server.RestMethod.PredefinedExceptions'>juneau-rest-server &gt; Predefined Exceptions</a>
			</ul>
		</ul>
		<p>
			Refer to the <a class='doclink' href='http://juneau.apache.org/site/apidocs-7.2.0/overview-summary.html#7.2.0'>Release Notes</a> for the full list of changes.
		</p>
	</div>
		
	<!-- =========================================================================================================== -->
	<!-- === COMING SOON =========================================================================================== -->
	<!-- =========================================================================================================== -->

	<!-- h5 class='toc'>Coming soon</h5> 
	<div>
		<ul class='spaced-list'>
			<li><a class='doclink' href='https://cwiki.apache.org/confluence/display/JUNEAU/2018/05/09/Serverless+REST+Unit+Testing'>Serverless REST unit testing</a> 
			<li><a class='doclink' href='https://cwiki.apache.org/confluence/display/JUNEAU/2018/04/13/Configurable+look-and-feel'>Configurable look-and-feel</a>
			<li><a class='doclink' href='https://cwiki.apache.org/confluence/display/JUNEAU/2018/03/17/Swagger+UI+enhancements'>Swagger UI enhancements</a> 
			<li><a class='doclink' href='https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=75977264'>Swagger UI enhancements (update)</a> 
			<li><a class='doclink' href='https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=87296658'>Support for auto-validation in Swagger annotations.</a> 		 
		</ul>
	</div-->	
</body>
</html>